# Игнорирование папки виртуального окружения
venv/

# Игнорирование баз данных
*.db

# Игнорирование файла .env
.env

# Игнорировать файл тестирования
tests.py

# Игнорируем __pycache__ и .pyc файлы
__pycache__/
*.pyc
